<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>HELLO WOLD!</h1>
        <p>This is my first server using FLASK and PYTHON!</p>
        <a href="/jinja-intro/">this is Jinja Intro</a> <br>
        <a href="/expressions/">this is example for Jinja expressions</a> <br>
        <a href="/data-structures/">this is example for Jinja data structures</a> <br>
        <a href="/conditionals-basics/">this is example for Jinja conditionals</a> <br>
        <a href="/loops-basics/">this is example for Jinja loops</a>
    </body>
</html>